<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Niagahoster</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
        <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
        <meta name="author" content="Shreethemes" />
        <meta name="email" content="shreethemes@gmail.com" />
        <meta name="website" content="http://www.shreethemes.in" />
        <meta name="Version" content="v2.5.1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <!-- Slider -->               
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css"/> 
        <link href="assets/fonts/font/Montserrat-Bold.otf"/> 
        <!-- <link href="assets/fonts/font/NunitoSans-Bold.ttf"/>  -->
        <!-- <link href="assets/fonts/font/NunitoSans-Regular.ttf"/>  -->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"/>    
            
        <!-- Main Css -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="assets/css/colors/default.css" rel="stylesheet" id="color-opt">
        <link rel="stylesheet" href="assets/css/custom.css"/>
        <style type="text/css">
            @font-face {
             font-family: "Montserrat-Bold";
                 src: url('assets/fonts/font/Montserrat-Bold.otf');
            }
            @font-face {
                 font-family: "Montserrat-Hairline";
                 src: url('assets/fonts/font/Montserrat-Hairline.otf');
                 
            }
            @font-face {
                 font-family: "Montserrat-Light";
                 src: url('assets/fonts/font/Montserrat-Light.otf');
                 
            }
            @font-face {
                 font-family: "Montserrat-Regular";
                 src: url('assets/fonts/font/Montserrat-Regular.otf');
                 
            }
            @font-face {
                 font-family: "Roboto-Light";
                 src: url('assets/fonts/font/roboto/Roboto-Light.ttf');
                 
            }
            @font-face {
                 font-family: "Roboto-Medium";
                 src: url('assets/fonts/font/roboto/Roboto-Medium.ttf');
                 
            }


            .Montserrat-Bold {
                 font-family: "Montserrat-Bold";
            }
            .Montserrat-Hairline{
                font-family: "Montserrat-Hairline";
            }
            .Montserrat-Light{
                font-family: "Montserrat-Light";
            }
            .Montserrat-Regular{
                font-family: "Montserrat-Regular";
            }
            .Roboto-Light{
                font-family: "Roboto-Light";
            }
            .Roboto-Medium{
                font-family: "Roboto-Medium";
            }
        </style>
    </head>
    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <!-- Navbar STart -->
        
        <header id="topnav" class="defaultscroll sticky">
            
            <div class="container device">
                <!-- Logo container-->
                <div id="navigation-bar" class="Montserrat-Light">
                	
                <span class="ribbontext1 small"></span>
                 <i class="mdi mdi-tag" style="color:#fff;margin-left: 8px">&nbsp&nbsp  </i><small>Gratis E-Book 9 Cara Cerdas Menggunakan Domain [x]</small>
                	<div style="float: right;margin: 8px !important">
                		<i class="mdi mdi-phone"> </i> <small>0274-5305505</small> &nbsp
                    	<i class="mdi mdi-message"> </i>  <small>Live Chat</small> &nbsp
                    	<i class="mdi mdi-account-circle" style="font-size: 16px"> </i>  <small>Member Area</small> &nbsp
                	</div>
                    
                </div><!--end navigation-->

            </div><!--end container-->
            <hr class="device">
            
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="index.html">
                        <img src="assets/images/niagahoster-logo.png" height="50" alt="">
                    </a>
                </div>                 
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
        
                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu Montserrat-Light">
                        <li><a href="index.html">Hosting</a></li>
                        <li><a href="index.html">Domain</a></li>
                        <li><a href="index.html">Server</a></li>
                        <li><a href="index.html">Website</a></li>
                        <li><a href="index.html">Afiliasi</a></li>
                        <li><a href="index.html">Promo</a></li>
                        <li><a href="index.html">Pembayaran</a></li>
                        <li><a href="index.html">Review</a></li>
                        <li><a href="index.html">Kontak</a></li>
                        <li><a href="index.html">Blog</a></li>
                    </ul><!--end navigation menu-->
                    <div class="buy-menu-btn d-none">
                        <!-- <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Buy Now</a> -->
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        
        {% block body %}{% endblock %}
        <!-- FAQ n Contact End -->

        <!-- <div class="position-relative">
            <div class="shape overflow-hidden text-footer">
                <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
                </svg>
            </div>
        </div> -->
        <!-- FAQ n Contact End -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">HUBUNGI KAMI</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li>0274-5305505</li>
                            <li>Senin - Minggu</li>
                            <li>24 Jam Nonstop</li>
                            <li>&nbsp</li>
                            <li>Jl. Selokan Mataram Monjali</li>
                            <li>Karangjati MT I/304</li>
                            <li>Sinduadi, Mlati, Sleman</li>
                            <li>Yogyakarta 55284</li>
                        </ul>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">LAYANAN</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot">Domain</a></li>
                            <li><a href="#" class="text-foot">Shared Hosting</a></li>
                            <li><a href="#" class="text-foot">Cloud VPS Hosting</a></li>
                            <li><a href="#" class="text-foot">Managed VPS Hosting</a></li>
                            <li><a href="#" class="text-foot">Web Builder</a></li>
                            <li><a href="#" class="text-foot">Keamanan SSL/HTTPS</a></li>
                            <li><a href="#" class="text-foot">Jasa Pembuatan Website</a></li>
                            <li><a href="#" class="text-foot">Program Affiliasi</a></li>
                        </ul>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">SERVICE HOSTING</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot">Hosting Murah</a></li>
                            <li><a href="#" class="text-foot">Hosting Indonesia</a></li>
                            <li><a href="#" class="text-foot">Hosting Singapura SG</a></li>
                            <li><a href="#" class="text-foot">Hosting PHP</a></li>
                            <li><a href="#" class="text-foot">Hosting Wordpress</a></li>
                            <li><a href="#" class="text-foot">Hosting Laravel</a></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">TUTORIAL</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot">Knowledgebase</a></li>
                            <li><a href="#" class="text-foot">Blog</a></li>
                            <li><a href="#" class="text-foot">Cara Pembayaran</a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">TENTANG KAMI</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot">Tim Niagahoster</a></li>
                            <li><a href="#" class="text-foot">Karir</a></li>
                            <li><a href="#" class="text-foot">Events</a></li>
                            <li><a href="#" class="text-foot">Penawaran & Promo Spesial</a></li>
                            <li><a href="#" class="text-foot">Kontak Kami</a></li>
                        </ul>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">KENAPA PILIH NIAGAHOSTER?</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><a href="#" class="text-foot">Support Terbaik</a></li>
                            <li><a href="#" class="text-foot">Garansi Harga Termurah</a></li>
                            <li><a href="#" class="text-foot">Domain Gratis Selamanya</a></li>
                            <li><a href="#" class="text-foot">Datacenter Hosting Terbaik</a></li>
                            <li><a href="#" class="text-foot">Review Pelanggan</a></li>
                        </ul>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">NEWSLETTER</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li>
                                <form action="/" method="post" class="search">
                                    <input type="text" placeholder="Email" class="input">
                                    <button type="submit" class="berlangganan btn btn-pills btn-sm Montserrat-Hairline">Berlangganan</button>
                                </form>
                            </li>
                            <li><span class="text-muted">Dapatkan promo dan konten menarik dari penyedia hosting terbaik anda.</span></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">&nbsp</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li>
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 text-center">
                                        <a href="#" class="btn btn-icon-lg btn-pills"><i data-feather="facebook" class="fea icon-sm-md"></i></a>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <a href="#" class="btn btn-icon-lg btn-pills"><i class="mdi mdi-twitter" style="font-size: 30px"></i></a>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <a href="#" class="btn btn-icon-lg btn-pills"><i class="mdi mdi-google-plus" style="font-size: 30px"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <div class="container bg-half-footer">
                <div class="row">
                    <div class="col-lg-12 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h4 class="text-dark-footer footer-head Montserrat-Regular">PEMBAYARAN</h4>
                        <ul class="list-unstyled footer-list mt-4">
                            <li><span class="text-muted">Aktivasi instant dengan e-Payment Hosting dan domain langsung aktif!</span></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-9">
                        <div class="text-sm-left">
                            <p class="mb-0">
                                <small>
                                    Copyright ©2016 Niagahoster | Hosting powered by PHP7 , CloudLinux, CloundFlare, BitNinja and DC Biznet Technovillage Jakarta<br>

                                    Clound VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
                                </small>
                            </p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-3 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <a href="javascript:void(0)" style="text-decoration: none;color: #adb5bd"><small>Syarat dan Ketentuan</small></a> | <a href="javascript:void(0)" style="text-decoration: none;color: #adb5bd"><small>Kebijakan Privasi</small></a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src="assets/js/jquery-3.5.1.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/scrollspy.min.js"></script>
        <!-- SLIDER -->
        <script src="assets/js/owl.carousel.min.js "></script>
        <script src="assets/js/owl.init.js "></script>
        <!-- Icons -->
        <script src="assets/js/feather.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src="assets/js/app.js"></script>
    </body>
</html>